/* Default < 400px */
.botonMenu {
	margin: 0 auto;
	display: block;
	width: 40px;
	height: 36px;
	padding: 10px;
	border-radius: 7px;
	background: #c3981d;
	color: white;
	cursor: pointer;
	position: relative;
}
.botonMenu span {
	display: block;
	width: 40px;
	height: 4px;
	background: white;
	margin-top: 7px;
}
label {
	cursor: pointer;
}
#menu-toggle {
	display: none;
}
#menus{
	list-style:none;
	display: none;
	text-align: center;
	background: white;
	padding: 10px ;
}
#menus li{
	width:100%;
	background-color: #c3981d;
	border:1px solid #edc454;
}
#menu li a{
	display: block;
	padding: 10px 0;
	color: white;
	font-family: Arial;
	font-size:11px;
	text-decoration: none; 
}
#menu-toggle:checked + #menus{
	display: block;
}

/* 400px - 600px */
@media (min-width:400px) {
	body {
		font-size: 11pt;
	}
	.botonMenu{
		display:none;
	}
	#menus {
		display: block !important;
		list-style:none;
		display: none;
		text-align: center;
		background: white;
		padding: 10px ;
		margin-left:0%;
	}
	#menus li{
		width:200px;
	 	background-color: #c3981d;
		border:1px solid #edc454;
	}
	#menus li a {
		display: block;
		padding: 10px 0;
		color: white;
		font-family: Arial;
		font-size:11px;
		text-decoration: none;
	}
}

/* 600px - 800px */
@media (min-width:600px) {
	.botonMenu{
		display:none;
	}
	#menus {
		display: block !important;
		list-style:none;
		display: none;
		text-align: center;
		justify-content: center; 
		background: white;
		padding: 10px ;
		margin-left:0%;
	}
	#menus li{
		width:200px;
	 	background-color: #c3981d;
		border:1px solid #edc454;
	}
	#menus li a {
		display: block;
		padding: 10px 0;
		color: white;
		font-family: Arial;
		font-size:11px;
		text-decoration: none;
	}
}

/* 800px - 1000px */
@media (min-width:800px) {
	.botonMenu{
		display:none;
	}
	#menus {
		width: 100%;
		padding: 0px;
		margin-left: 0px;
		padding-bottom: 2%;
		background: white;
	}
	#menus li {
		display: inline;
		border: 0px solid white;
	}
	#menus li a {
		font-family: Arial;
		font-size:17px;
		text-decoration: none;
		float:left;
		padding: 1%;
		background-color: #c3981d;
		color: white;
		width: 16%;
	}
	#menus li a#home{
		width: 4%;
		font-size:14px;
	}
	#menus li a:hover {
		background-color: #edc454;
		margin-top:-2px;
		padding-bottom:0.75%;
	}
}

/* > 1000px */
@media (min-width:1000px) {
	.botonMenu{
		display:none;
	}
	#menus {
		width: 100%;
		padding: 0px;
		margin-left: 0px;
		padding-bottom: 2%;
		background: white;
	}
	#menus li {
		display: inline;
		border: 0px solid white;
	}
	#menus li a {
		font-family: Arial;
		font-size:18px;
		text-decoration: none;
		float:left;
		padding: 1%;
		background-color: #c3981d;
		color: white;
		align-items: center;      
   	 	justify-content: center; 
		width: 16%;
	}
	#menus li a#home{
		width: 4%;
		font-size:15.5px;
	}
	#menus li a:hover {
		background-color: #edc454;
		margin-top:-2px;
		padding-bottom:0.65%;
	}
}