#apliDiet {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    color: #77b4d8;
}

#apliDiet h2{
    margin-bottom: 50px;
}

#infoApli {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin: 10px;
    text-align: start;
    color: black;
}

#infoApli ul {
    list-style-position: inside; 
}

.cuadroInfo h1{
    text-align: center;
}

.cuadroInfo {
    background: rgba(119, 180, 216, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px; 
    padding: 20px;
    flex: 1 1 350px; 
    max-width: 350px; 
    margin: 10px;
    height: auto; 
    font-size: 17px;

}

.cuadroInfo li{
    margin-top: 25px;
}

.cuadroInfo li + li{
    margin-bottom: 15px;
}

#infoConge li,#infoEbu li{
    margin-bottom: 15px;
}

/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    .cuadroInfo h1{
        font-size: 25px;
    }
    
    .cuadroInfo {  
        font-size: 18px;
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    #apliDiet h2{
        font-size: 32px;
    }

    .cuadroInfo h1{
        font-size: 28px;
    }
    
    .cuadroInfo {  
        font-size: 20px;
        max-width: 380px; 
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    #apliDiet h2{
        font-size: 38px;
    }

    .cuadroInfo h1{
        font-size: 32px;
    }
    
    .cuadroInfo {  
        font-size: 22px;
        max-width: 400px; 
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .cuadroInfo {  
        max-width: 410px; 
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .cuadroInfo {  
        max-width: 420px; 
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    #apliDiet h2{
        font-size: 42px;
    }

    .cuadroInfo h1{
        font-size: 38px;
    }
    
    .cuadroInfo {  
        font-size: 28px;
        max-width: 450px; 
        flex: 1 1 450px; 
    }
}