#recetasTab{
    text-align: center;
    margin-top: 40px;
}

#recetasTab h1{
    margin-bottom: 30px;
    color: #77b4d8;
}

#recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    margin: 10px;
    text-align: start;
    color: black;
}
.receta{
    background: rgba(119, 180, 216, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 10px;
    height: 200px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.receta:hover {
    transform: scale(1.03); /* Levemente más grande */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra más fuerte */
}

#recetaQueso h3{
    color: #c9bfad;
    margin-bottom: 10px;
    margin-top: 20px;
}

#recetaYogur h3{
    color: #605e5c;
    margin-bottom: 10px;
    margin-top: 20px;
}

#quesoImg{
    width: 50%;
}

#yogurImg{
    width: 50%;
}


/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    #quesoImg{
        width: 42%;
    }
    
    #yogurImg{
        width: 42%;
    }

    #recetasTab h1{
        font-size: 30px;
    }

    #recetaQueso h3{
        font-size: 22px;
    }
    
    #recetaYogur h3{
        font-size: 22px;
    }
    
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .receta{
        height: 250px;
    }

    #quesoImg{
        width: 30%;
    }
    
    #yogurImg{
        width: 30%;
    }

    #recetasTab h1{
        font-size: 40px;
    }

    #recetaQueso h3{
        font-size: 28px;
    }
    
    #recetaYogur h3{
        font-size: 28px;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    .receta{
        height: 300px;
        width: 60%;
    }
    
    #quesoImg{
        width: 46%;
    }
    
    #yogurImg{
        width: 46%;
    }

    #recetasTab h1{
        font-size: 45px;
    }

    #recetaQueso h3{
        font-size: 32px;
    }
    
    #recetaYogur h3{
        font-size: 32px;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .receta{
        height: 380px;
        width: 47%;
    }
    
    #quesoImg{
        width: 52%;
    }
    
    #yogurImg{
        width: 52%;
    }

    #recetasTab h1{
        font-size: 50px;
    }

    #recetaQueso h3{
        font-size: 35px;
    }
    
    #recetaYogur h3{
        font-size: 35px;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .receta{
        height: 435px;
    }
    
    #quesoImg{
        width: 56%;
    }
    
    #yogurImg{
        width: 56%;
    }

    #recetasTab h1{
        font-size: 52px;
    }

    #recetaQueso h3{
        font-size: 38px;
    }
    
    #recetaYogur h3{
        font-size: 38px;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .receta{
        height: 750px;
    }
    
    #quesoImg{
        width: 60%;
    }
    
    #yogurImg{
        width: 60%;
    }
}