/* Default ---- < 400px */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gliker';
    src: url('../../tipoLetra/Gliker-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

#pestannas {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

#pestannas ol {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
	gap: 6px;
}

#pestannas #pestannasMenu li {
	flex: 1 1 auto;
	width: 100%;
}

#pestannas #pestannasMenu li a {
	display: block;
    width: 100%;
    padding: 10px;
	font-size: 15px;
	color: white;
    background-color: #77b4d8;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

#pestannas #pestannasMenu li a:hover {
    background-color: #2875a8;
    color: white;
}

#pestannas #pestannasMenu .ui-tabs-active a {
    background-color: #2980b9;
    font-weight: bold;
}

#pestannas #pestannasMenu .ui-tabs-panel {
    border: none;
    padding: 0;
}

#pestannas .ui-widget-header {
    border: none;
    background-color: #efefef;
}

#bannerLeche {
    background-image: url(../../img/fondo_leche2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    min-height: 350px;
    position: relative;
}

#tituloLeche {
    font-family: 'Gliker';
    color: #77b4d8;
    position: absolute;
	font-size: 70px;
    top: 10px;
    left: 50%;
    transform: translateX(-61%);
	z-index: 2;
} 

#introLeche {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    font-size: 14px;
    color: #545454;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
	z-index: 2;
    background-color: white;
    border: 2px solid #77b4d8;
    border-radius: 10px;
    padding: 10px;
}

#lecheBannerImg {
    position: absolute;
    top: 25px;
    left: 70%;
    height: 76px;
    transform: rotate(18deg);
	z-index: 1;
}


/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
	#pestannas #pestannasMenu li a {
		font-size: 16px;
	}

    #tituloLeche {
        font-size: 90px;
        top: 8px;
    }

    #introLeche {
        font-size: 20px;
        top: 130px;
    }

    #lecheBannerImg {
        top: 17px;
        left: 67%;
        height: 96px;
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
	#pestannas #pestannasMenu li a {
		font-size: 17px;
	}

    #tituloLeche {
        font-size: 105px;
        top: 4px;
    }

    #introLeche {
        font-size: 20px;
        top: 145px;
        width: 50%;
    }

    #lecheBannerImg {
        top: 17px;
        left: 67%;
        height: 115px;
    }
    
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
	#pestannas #pestannasMenu li a {
		font-size: 18px;
	}
	
	#pestannas ol {
    	flex-direction: row;
	}

	#pestannas #pestannasMenu li {
		width: auto;
	}

    #lecheBannerImg {
        top: 40px;
        left: 64%;
        height: 250px;
    }

    #tituloLeche {
        font-size: 100px;
        top: 12px;
        left: 37%;
    }

    #introLeche {
        top: 140px;
        left: 34%;
        width: 40%;
        font-size: 18px;        
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
	#pestannas #pestannasMenu li a {
		font-size: 19px;
	}

    #lecheBannerImg {
        top: 30px;
        left: 64%;
        height: 280px;
    }

    #tituloLeche {
        font-size: 120px;
        top: 12px;
        left: 33%;
    }

    #introLeche {
        top: 160px;
        left: 30%;
        font-size: 18px;        
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
	#lecheBannerImg {
        top: 26px;
        left: 65%;
        height: 310px;
    }

    #tituloLeche {
        font-size: 130px;
        top: 10px;
        left: 33%;
    }

    #introLeche {
        top: 175px;
        left: 30%;
        width: 35%;
        font-size: 19px;        
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
	#pestannas #pestannasMenu li a {
		font-size: 20px;
	}

    #lecheBannerImg {
        top: 20px; 
        left: 65%;
        height: 330px;
    }
    #tituloLeche {
        font-size: 140px;
        top: 10px;
        left: 33%;
    }

    #introLeche {
        top: 185px;
        left: 30%;
        width: 40%;
        font-size: 22px;        
    }
}