* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

@font-face {
    font-family: 'Chunkfive';
    src: url('../../tipoLetra/Chunkfive\ Ex.ttf');
    font-weight: normal;
    font-style: normal;
}

#contenTitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 50px;
}

#contenTitulo img{
    width: 40px;
}

#tituloReceta{
    font-family: 'Chunkfive';
    font-size: 24px;
    text-align: center;
    color: #77b4d8;
    margin-right: 20px;
    margin-left: 20px;
}



#objetivoReceta{
    text-align: center;
    margin: 40px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#objetivoReceta span{
    color: #77b4d8; 
    font-weight: bold;
}

.opcionesLeche {
    border: 1px solid rgb(77, 76, 76);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center; 
    margin: 20px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 1000px;   
    width: 90%;       
}

.opcionesLeche h2{
    font-size: 17px;
}

#tituloOpcionesTipo {
    display: flex;
    align-items: center;           
    justify-content: center;       
    gap: 10px;     
    margin-top: 30px;               
    margin-bottom: 20px;
}

#tituloOpcionesTipo h2 {
    margin-top: 55;
}

#tituloOpcionesTipo img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.contenedorOpciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.opcionLeche {
    border: 1px solid rgb(77, 76, 76);
    border-radius: 23px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    font-weight: bolder;
    background-color: white;
    word-break: break-word;
    white-space: normal;
    text-align: center;          
    width: 100px;
}

.opcionLeche img {
    width: 38px;
    margin-bottom: 10px;
}

.opcionLeche.selected {
    border-color: #007BFF;
    box-shadow: 0 2px 10px rgba(17, 87, 152, 0.874);
}



#opcionesBactConten {
    display: flex;
    flex-direction: column;   
    padding: 25px;
}

#tituloTipoBact {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 10px;
}

#tituloTipoBact h2 {
    margin: 0; 
}

#tituloTipoBact img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

#opcionesTipoBact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;     
    justify-content: center; 
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    
}
  
#opcionesTipoBact label {
    display: flex;
    align-items: center;     
    justify-content: center; 
    border: 1px solid rgb(77, 76, 76);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 155px;
    height: 65px;
    padding: 8px;
    margin: 5px;
    font-weight: bolder;
    background-color: white;
}

#opcionesTipoBact input[type="radio"] {
    margin-right: 8px; 
}




#barraRangosT {
    display: flex;
    flex-direction: column;   
    align-items: flex-start;     
    justify-content: flex-start; 
    padding: 25px;
    padding-top: 20px;
}

#tituloRangosT {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#tituloRangosT h2 {
    margin: 0; 
}

#tituloRangosT img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

#rangosT{
    display: flex;
    align-items: center;     
    justify-content: space-between; 
    gap: 8px;
    width: 100%;
    margin-top: 10px;
}

#rangosT p{
    font-size: 13px;
    margin-bottom: 5px;
}
  
#rangosT label {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 100%;
    gap: 10px;
}

#valoresRangoTemp, #valoresRangoTiem{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}

#tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
    font-size: 13px;
    color: #6d716f;
    text-align: center;
}

input[type="range"] {
    width: 100%;  
    height: 4px; 
    appearance: none;             
    -webkit-appearance: none;     
    -moz-appearance: none; 
    background: transparent; 
    margin-top: 10px;
    border-radius: 10px;
}
  
input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    border-radius: 10px;
}
  
input[type="range"]::-moz-range-track {
    height: 5px;
    border-radius: 10px;
}
  
input[type="range"]::-ms-track {
    height: 5px;
    border-radius: 10px;
    border: none;
    color: transparent;
}
  
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
    margin-top: -6px; 
}
  
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 2px solid #77b4d8;
    border-radius: 50%;
}




#botonYogur{
    max-width: 1000px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #77b4d8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #86c7ed;
}



#resultadoYogur{
    text-align: start;
    padding: 25px;
}

#resultadoYogur h2{
    margin-bottom: 20px;
}

.contenidoResultado {
    line-height: 30px;
}
  
#descripcion {
    flex: 1;
    text-align: left;
}
  
#imagenYogur {
    text-align: center;
}



/* ===================== MEDIA QUERY  400px - 500px  ================================= */
@media (min-width: 400px) {
    .opcionLeche img {
        width: 47px;
    }

    .opcionLeche {
        font-size: 17px;
        width: 103px;
    }

    .opcionesLeche h2{
        font-size: 20px;
    }

    #tituloReceta{
        font-size: 28px;
    }

    #objetivoReceta{
        font-size: 16px;
    }

    #tituloOpcionesTipo img {
        width: 25px;
        height: 25px;
    }



    #tituloTipoBact img {
        width: 26px;
        height: 26px;
    }

    #opcionesTipoBact label {
        width: 175px;
        height: 70px;
        font-size: 18px;
    }


    #tituloRangosT img {
        width: 25px;
        height: 25px;
    }

    #rangosT{
        gap: 9px;
    }
    
    #rangosT p{
        font-size: 16px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 14px;
    }

    input[type="range"] {
        height: 6px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 16px;
        height: 16px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 16px;
        height: 16px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 16px;
        height: 16px;
    }
}

/* ===================== MEDIA QUERY  500px - 800px  ================================= */
@media (min-width: 501px) {
    .opcionLeche img {
        width: 57px;
    }

    .opcionLeche {
        font-size: 19px;
        margin: 15px;
        padding: 24px;
        width: 120px;
    }

    .opcionesLeche{
        max-width: 580px;   
    }

    .opcionesLeche h2{
        font-size: 22px;
    }

    #tituloReceta{
        font-size: 33px;
    }

    #objetivoReceta{
        font-size: 17px;
    }

    #tituloOpcionesTipo img {
        width: 26px;
        height: 26px;
    }


    #tituloTipoBact img {
        width: 27px;
        height: 27px;
    }

    #opcionesTipoBact label {
        width: 190px;
        font-size: 19px;
    }


    #tituloRangosT img {
        width: 27px;
        height: 27px;
    }

    #rangosT{
        gap: 12px;
    }
    
    #rangosT p{
        font-size: 17px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 15px;
    }

    input[type="range"] {
        height: 7px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 17px;
        height: 17px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 17px;
        height: 17px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 17px;
        height: 17px;
    }


    #botonYogur{
        max-width: 580px; 
    }

    button {
        font-size: 1.2rem;
    }

    .contenidoResultado {
        display: flex;
        align-items: center; 
        font-size: 15px;
    }

    #imagenYogur {
       margin-left: 10px;
    }
}

/* ===================== MEDIA QUERY  801px - 1000px  ================================= */
@media (min-width: 801px) {
    .opcionLeche img {
        width: 70px;
    }

    .opcionLeche {
        font-size: 21px;
        margin: 17px;
        margin-left: 22px;
        margin-right: 22px;
        width: 130px;
    }

    .opcionesLeche{
        max-width: 700px;   
    }

    .opcionesLeche h2{
        font-size: 24px;
    }

    #tituloReceta{
        font-size: 38px;
    }

    #objetivoReceta{
        font-size: 18px;
    }

    #tituloOpcionesTipo img {
        width: 27px;
        height: 27px;
    }


    input[type="range"] {
        height: 8px; 
    }


    #tituloTipoBact img {
        width: 29px;
        height: 29px;
    }

    #opcionesTipoBact label {
        width: 250px;
        height: 85px;
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }


    #tituloRangosT img {
        width: 28px;
        height: 28px;
    }

    #rangosT{
        gap: 15px;
    }
    
    #rangosT p{
        font-size: 18px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 16px;
    }

          
    input[type="range"]::-webkit-slider-thumb {
        width: 18px;
        height: 18px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 18px;
        height: 18px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 18px;
        height: 18px;
    }

    #botonYogur{
        max-width: 700px; 
    }

    button {
        font-size: 1.3rem;
    }
}

/* ===================== MEDIA QUERY  1001px - 1200px  ================================= */
@media (min-width: 1001px) {
    .opcionLeche img {
        width: 80px;
    }

    .opcionLeche {
        font-size: 22px;
        margin: 18px;
        margin-left: 30px;
        margin-right: 30px;
        width: 140px;
    }

    .opcionesLeche{
        max-width: 780px;   
    }

    .opcionesLeche h2{
        font-size: 25px;
    }

    #tituloReceta{
        font-size: 40px;
    }

    #objetivoReceta{
        font-size: 19px;
    }

    #tituloOpcionesTipo img {
        width: 28px;
        height: 28px;
    }


    #tituloTipoBact img {
        width: 32px;
        height: 32px;
    }

    #opcionesTipoBact label {
        width: 290px;
        height: 90px;
        font-size: 21px;
    }

    #tituloRangosT img {
        width: 30px;
        height: 30px;
    }

    #rangosT{
        gap: 19px;
    }
    
    #rangosT p{
        font-size: 19px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 17px;
    }

        input[type="range"] {
        height: 9px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 19px;
        height: 19px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 19px;
        height: 19px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 19px;
        height: 19px;
    }

    #botonYogur{
        max-width: 780px; 
    }

    button {
        font-size: 1.4rem;
    }
}

/* ===================== MEDIA QUERY  1201px - 1600px  ================================= */
@media (min-width: 1201px) {
    .opcionLeche img {
        width: 100px;
    }

    .opcionLeche {
        font-size: 22px;
        margin: 18px;
        margin-left: 40px;
        margin-right: 40px;
        width: 160px;
    }

    .opcionesLeche{
        max-width: 900px;   
    }

    .opcionesLeche h2{
        font-size: 27px;
    }

    #tituloReceta{
        font-size: 45px;
    }

    #objetivoReceta{
        font-size: 22px;
    }

    #tituloOpcionesTipo img {
        width: 29px;
        height: 29px;
    }


    #tituloTipoBact img {
        width: 34px;
        height: 34px;
    }

    #opcionesTipoBact label {
        width: 340px;
        height: 100px;
        font-size: 22px;
    }


    #tituloRangosT img {
        width: 32px;
        height: 32px;
    }

    #rangosT{
        gap: 25px;
    }
    
    #rangosT p{
        font-size: 20px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 18px;
    }

    input[type="range"] {
        height: 10px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 20px;
        height: 20px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 20px;
        height: 20px;
    }

    #botonYogur{
        max-width: 900px;   
    }

    button {
        font-size: 1.5rem;
    }
}

/* ===================== MEDIA QUERY  1601px  ================================= */
@media (min-width: 1601px) {
    .opcionLeche img {
        width: 120px;
    }

    .opcionLeche {
        font-size: 25px;
        width: 180px;
    }

    .opcionesLeche{
        max-width: 900px;   
    }

    .opcionesLeche h2{
        font-size: 32px;
    }

    #tituloReceta{
        font-size: 50px;
    }

    #objetivoReceta{
        font-size: 25px;
    }

    #tituloOpcionesTipo img {
        width: 32px;
        height: 32px;
    }


    #tituloTipoBact img {
        width: 36px;
        height: 36px;
    }

    #opcionesTipoBact label {
        width: 350px;
        height: 110px;
        font-size: 23px;
    }

    #tituloRangosT img {
        width: 35px;
        height: 35px;
    }

    #rangosT{
        gap: 28px;
    }
    
    #rangosT p{
        font-size: 21px;
    }

    #tempValorMov, #tempValorFin,#tiemValorMov,#tiemValorFin {
        font-size: 19px;
    }

       input[type="range"] {
        height: 13px; 
    }
      
    input[type="range"]::-webkit-slider-thumb {
        width: 23px;
        height: 23px;
    }
      
    input[type="range"]::-moz-range-thumb {
        width: 23px;
        height: 23px;
    }
    
    input[type="range"]::-ms-thumb {
        width: 23px;
        height: 23px;
    }

    button {
        font-size: 1.65rem;
    }
}